{% extends "core/base.html" %}
{% load widget_tweaks %}

{% block navigation %}
    <li><a class="glyphicon glyphicon-home" href="{% url "core:home_page"%}"> Домашняя страница</a></li>
    <li><a class="glyphicon glyphicon-list" href="{% url "blogs:blog_list" %}"> Список блогов</a></li>
    <li class="active"><a class="glyphicon glyphicon-pencil" href="#"> Создание нового блога</a></li>
{% endblock %}

{% block content %}


    <form method="post">
        {% csrf_token %}
        {% render_field form.title class="form-control" placeholder="Название" %}<br>
        {% render_field form.description class="form-control" placeholder="Описание блога"%}
        <h4>Категории</h4>
        {% render_field form.category add_class="form-control" %}
        <div class="text-right"><input type="submit" value="Создать"></div>
    </form>
{% endblock %}