{% extends "core/base.html" %}
{% load widget_tweaks %}

{% block navigation %}
    <li><a class="glyphicon glyphicon-home" href="{% url "core:home_page"%}"> Домашняя страница</a></li>
    <li><a class="glyphicon glyphicon-list" href="{% url "blogs:blog_list" %}"> Список блогов</a></li>
    <li class="active"><a class="glyphicon glyphicon-pencil" href="#"> Создание нового поста</a></li>
{% endblock %}

{% block content %}

    <form method="post" class="form-horizontal">
        {% csrf_token %}
        {% render_field form.title class="form-control" placeholder="Название" %}<br>
        {% render_field form.text class="form-control" placeholder="Текст поста" %}<br>
        {% render_field form.blog add_class="form-control" %}
        <div class="text-right"><input type="submit"value="Отправить"></div>
    </form>
{% endblock %}


