{% extends "core/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "blogs/blogs.css" %}">
{% endblock %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="{% url "core:home_page"%}">Домашняя страница</a></li>
        <li><a href="{% url "blogs:blog_list" %}">Блоги</a><br/></li>
        <li class="active">Блог {{ object.title }}</li>
    </ol>

    <div class="panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Информация
              </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="list-group thirty_cent">
                        {% if object.category.all %}
                        <li class="list-group-item">
                            {% for category in  object.category.all%}
                                <span class="badge my_color">{{ category.name }}</span>
                            {% endfor %}
                            <h4>Категории</h4>
                        </li>
                    {% endif %}
                    <li class="list-group-item">
                        <span class="badge my_color">{{ object.id}}</span>
                        <h4>id</h4>
                    </li>
                    <div class="list-group-item">
                        <h4>Название</h4>
                        <div class="list-group-item-text">{{ object.title}}</div>
                    </div>
                    <div class="list-group-item">
                        <h4>Описание</h4>
                        <div class="list-group-item-text">{{ object.description}}</div>
                    </div>
                    <div class="list-group-item">
                        <h4>Автор</h4>
                        <div class="list-group-item-text">{{ object.author.username }}</div>
                    </div>
                    <div class="list-group-item">
                        <h4>Дата последнего изменения</h4>
                        <div class="list-group-item-text">{{ object.updated_at}}</div>
                    </div>
                    <div class="list-group-item">
                        {% if blog.author == user %}
                            <a class="dialog-link" href="{% url "blogs:editblog" pk=blog.id%}">Редактировать блог</a>
                        {% endif %}
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <div class="list list-group">
      <a href="#" class="list-group-item active">Посты</a>
        {% for post in object.post.all %}
                <div class="list-group-item">
                    {% if blog.author == user %}
                        <a href="{% url "blogs:editpost" pk=post.id%}" class="badge pull-right dialog-link">Редактировать</a>
                    {% endif %}
                    <a href="{% url "blogs:post_view" pk=post.id%}" class="navbar-link">{{ post.title }}</a>
                    <div class="list-group-item-text">{{ post.updated_at }}</div>
                </div>
        {% endfor %}
    </div>

{% endblock %}