{% extends "core/base.html" %}
{% load widget_tweaks %}

{% block navigation %}
    <li><a class="glyphicon glyphicon-home" href="{% url "core:home_page"%}"> Домашняя страница</a></li>
    <li><a class="glyphicon glyphicon-list" href="{% url "blogs:blog_list" %}"> Список блогов</a></li>
    <li><a class="glyphicon glyphicon-book" href="{% url "blogs:blog_view" pk=post.blog.id %}"> {{ post.blog.title }}</a></li>
    <li class="active"><a class="glyphicon glyphicon-file" href="#">{{ post.title }}</a></li>
{% endblock %}

{% block dialog %}
    <!-- Диалоговое окно для редактирования поста -->
    <div class="modal fade" id="editpostModal" tabindex="-1" role="dialog" aria-labelledby="editpostModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="editpostModalLabel">Редактирование поста</h4>
          </div>
          <div class="modal-body"></div>
        </div>
      </div>
    </div>
{%  endblock %}

{% block side1%}
    {% if post.author == user %}
        <h4>Действия</h4>
        <p><a class="dialog-editpost-link" href="{% url "blogs:editpost" pk=post.id%}">Редактировать пост</a></p>
    {% endif %}
{% endblock %}

{% block side2 %}
    <h4>Все посты</h4>

    <ol class="list-unstyled">
        {% for post in post.blog.post.all %}
                <li><a href="{% url "blogs:post_view" pk=post.id%}" class="navbar-link">{{ post.title }}</a></li>
        {% endfor %}
    </ol>
{% endblock %}

{% block content %}
          <div class="blog-post">
            <h2 class="blog-post-title">{{ post.title }}</h2>
            <p class="blog-post-meta">{{ post.updated_at }}, <span>{{ post.author.username }}</span></p>

              <p>{{ post.text }}</p>
          </div><!-- /.blog-post -->



            <div class="text-right">
            Понравилось:<span class="like" data-url="{% url "blogs:post_likes" pk=post.id %}" id="likes-{{ post.id }}"></span><br>
            <button class="btn ajaxlike glyphicon glyphicon-heart" data-url="{% url "blogs:post_likes" pk=post.id %}" data-postid="{{ post.id }}"></button>
            </div>

            <h3>Комментарии</h3>
            <div class="row autoload" data-url="{% url "blogs:commentsource" pk=post.id %}"></div>

            <span class="input">
                    <form method="post">
                        {% csrf_token %}
                        {% render_field form.text add_class="form-control" rows="1"%}
                        <input type="submit" value="Комментировать">
                    </form>
            </span>



{% endblock %}