{% load widget_tweaks %}

<form role="form" method="post" enctype="multipart/form-data"  class="ajax-form" action="{% url "core:registration" %}">
    {% csrf_token %}
    {% render_field form.username type="text" class="form-control" placeholder="Имя" %}<br>
    {% render_field form.password1 type="password" class="form-control" placeholder="Пароль" %}<br>
    {% render_field form.password2 type="password" class="form-control" placeholder="Подтвердите пароль" %}<br>
    <label for="{{ form.avatar.id_for_label }}">Аватар</label>
        {{ form.avatar }}
    <p class="help-block">Файл должен быть в формате jpg</p>
    <input type="submit" value="Зарегистрироваться">
</form>




